<!doctype html>
<html ng-app="iplayed">
    <head>
        <title>iPlayed</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
    </head>
    <body>
        <h1>iPlayed</h1>
        <div ng-controller="StatisticsController as sc">
            <h3>Statistics</h3>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Total matches: </label>
                    <div class="controls">
                        <input type="text" ng-model="sc.statistics.totalMatches" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total sets: </label>
                    <div class="controls">
                        <input type="text" ng-model="sc.statistics.totalSets" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total points: </label>
                    <div class="controls">
                        <input type="text" ng-model="sc.statistics.totalPoints" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Total players: </label>
                    <div class="controls">
                        <input type="text" ng-model="sc.statistics.totalPlayers" readonly>
                    </div>
                </div>                
            </form>
            <h3>Scoreboard</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="playerWin in sc.statistics.playerWins.entry | orderBy:'-value'">
                    <h3>{{playerWin.value}}  <small>{{playerWin.key.username}}</small></h3>
                </li>
            </ul>
        </div>
    </body>
</html>