<div ng-controller="PlayersController as controller">
    <div class="input-group input-group-lg search-box">
        <span class="input-group-addon" id="sizing-addon1">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        <input type="text" class="form-control" ng-model="searchString" 
               placeholder="Who are you looking for" aria-describedby="sizing-addon1">
    </div>
    <div class="list-group search-result" ng-repeat="player in players| filter:searchString">
        <a href="#player" class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle img-thumbnail avatar-small" src="images/avatar.jpeg" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="list-group-item-heading">{{player.firstname + " " + player.lastname}}</h4>
                    <p class="list-group-item-text">{{player.username}}</p>                    
                </div>
            </div>
        </a>
    </div>
</div>